<link rel="stylesheet" href="/static/style.css" type="text/css">
<div class=page>
  <h1>Food Stickers</h1>
    
    <h2>Pending Orders</h2>
    {% for order in pendingorders: %}
    <li>{{order}}</li>
    <ul>
        {% for topping in pendingorders[order].toppings: %}
        <li>{{topping}}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    
    <h2>Completed Orders</h2>
    {% for order in completedorders: %}
    <li>{{order}}</li>
    <ul>
        {% for topping in completedorders[order].toppings: %}
        <li>{{topping}}</li>
        {% endfor %}
    </ul>
    {% endfor %}

</div>